.blog-card {
    display: flex;
    flex-direction: column; /* Flex direction column to stack elements vertically */
    justify-content: space-between; /* Align items with space between */
    height: 100%; /* Make the card take up full height */
}



/* Enhancements */
.blog-card img {
    height: 300px;
    width: 100%;
    transition: transform 0.3s ease; /* Add transition for hover effect */
}

.blog-card img:hover {
    transform: scale(1.05); /* Scale up image on hover */
}